@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('font/montserrat-webfont.ttf') format('truetype'),
  url('font/montserrat-webfont.svg') format('svg'),
  url('font/montserrat-webfont.woff') format('woff'),
  url('font/montserrat-webfont.eot');
}

#all-controls {
  display:none;
}

#all-controls .play-all {
  background-image: url('img/play.button.png');
  background-size: cover;
  width: 8em;
  height: 8em;
}

#all-controls .pause-all {
  background-image: url('img/pause.button.png');
  background-size: cover;
  width: 8em;
  height: 8em;
}

#image-preload-1 {
  background-image: url('img/pause.button.png');
  background-size: cover;
  width: 1px;
  height: 1px;
  opacity: 0.01;
  float: left;
}

#image-preload-2 {
  background-image: url('img/play.button.png');
  background-size: cover;
  width: 1px;
  height: 1px;
  opacity: 0.01;
  float: right;
}

.sliders .ui-slider-track {
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  height: 10px;
}

/* Style page container and remove jqm default background */

html {
  height:100%;
}

.ui-mobile {
  background-color: #000;
}

#page-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  height: 100%;
  }

.ui-page.ui-body-c.ui-page-active {
  background: #000; 
  }

/* end */

/* Style text */

#site-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  padding: 1em 0 0 0;
  -webkit-text-stroke: 1px;
  color: #000;
}

#site-title h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5%;
  margin-right: 5%;  
/**  text-shadow: 0 0 0.5px rgba(0,0,0,1) !important; **/
}

#loading,
.loading-element .dtext {
  animation: fade 2.5s infinite;
  -webkit-animation: fade 2.5s infinite;
  -moz-animation: fade 2.5s infinite;
  -o-animation: fade 2.5s infinite;
}

@keyframes fade {
  0% { color:black; }
  50% { color:white; }
  100% { color:black; }
}

@-webkit-keyframes fade {
  0% { color:black; }
  50% { color:white; }
  100% { color:black; }
}

@-moz-keyframes fade {
  0% { color:black; }
  50% { color:white; }
  100% { color:black; }
}

@-o-keyframes fade {
  0% { color:black; }
  50% { color:white; }
  100% { color:black; }
}

.dtext {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  -webkit-text-stroke: 0.1px;
  color: #000;
  margin-left: 5%;
  margin-right: 5%;
}

.otext a,
.dtext a {
  color: #000;
}

/* Share stuff */

#share:after {
  content: " Your Mix";
}

#share.share-active:after {
  content: "";
  content: none;
}

#updates:before {
  content: "Get ";
}

#updates.updates-active:before {
  content: "";
  content: none;
}

#about-top {
  text-align: left;
}

#updates {
  text-align: right;
}

#updates-hidden {
  display: none;
}

#share-buttons,
#footer {
  font-family: Montserrat;
  text-align: center;
  font-size: 0.8em;
  -webkit-text-stroke: 0.3px;
  color: white;
  background-color: #000;
  text-shadow: none;
}

.top-buttons,
.sharetoggle,
.sharelink {
  text-decoration: underline;
  color: #FFF;
  border: none;
  padding: 2px 0px;
  margin: 0;
}

.top-buttons,
.sharetoggle {
  display: inline-block;
  width: 30%;
}

#share-buttons {
  padding: 5px 0 5px 0;
}

#socialbuttons p {
  margin-bottom: 17px;
}

#plast {
  margin-bottom: 0 !important;
}

#showshareurl {
  background-color: #FFF;
  color: #000;
  padding: 5px 10px 5px 10px;
  border: 1px dashed #000;
  line-height: 3em;
}

/* end of share stuff */

.mc-field-group {
  margin-top: 20px;
}

#mce-EMAIL-label {
  font-size: 2em;
  margin-bottom: 15px;
}

#mce-EMAIL {
  width: 20em;
  max-width: 90%;
  background-color: #FFF;
  margin: 0 auto;
  -webkit-text-stroke: 0px;
  padding: 5px;
  font-family: Arial;
  font-size: 1.5em;
  border:4px solid #000;
}

#mce-EMAIL:active,
#mce-EMAIL:focus {
  border: 4px solid #CCC;
}

#mc-embedded-subscribe { 
  width: 10em;
  max-width: 90%;
  height: 2em;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}

#mc-embedded-subscribe:hover {
  cursor: pointer;
  cursor: hand;
}


/* Mailchimp stuff */



  

/* End mailchimp stuff */

#facebook {
  float: left;
}

#googleplus {
  float: right;
}

#footer p {
  margin: 0 0 0 0;
  padding-top: 0px;
  padding-bottom: 0px;
}

#footer a {
  text-shadow: none !important;
  color: white !important;
  text-decoration: underline !important;
  font-weight: normal !important;
}

/* end */

/* Style play button */

#play-pause-container {
  width: 8em;
  height: 8em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}


/* Style sliders */

#sliders-container .ui-slider-track.ui-btn-down-c.ui-btn-corner-all {
  background: #000;
  border: 1px solid white;
  background-image: none;
}

#sliders-container .ui-slider-handle.ui-btn.ui-btn-up-c.ui-shadow.ui-btn-corner-all { 
  background: white;
  background-image: none;
  border: 2px solid #000;
  width: 28px;
  height: 28px;
  margin: -15px 0 0 -15px;  
  border-radius: 99em;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
}

#sliders-container .ui-btn.ui-slider-handle { 
  background: white;
  background-image: none;
  border: 2px solid #000;
  width: 28px;
  height: 28px;
  margin: -15px 0 0 -15px;  
  border-radius: 99em;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
}

#sliders-container .ui-focus, .ui-btn-focus {
  box-shadow: inset 0 0 0px #000, 0 0 8px #000;
  -webkit-box-shadow: inset 0 0 0px #000, 0 0 8px #000;
  -moz-box-shadow: inset 0 0 0px #000, 0 0 8px #000;
}

/* end */

/* Style collapsing for sliders */

.sliders-collapsed {
  cursor: pointer;
  cursor: hand;
}

#page-container #sliders-container .sliders-collapsed .slider-background  {
  background-image: none;
}

.sliders-collapsed .ui-slider {
  display: none;
}

.sliders-collapsed label.ui-input-text {
  display: block;
  margin: 0;
}

.sliders-collapsed .labelfix {
  margin-top: 0;
  background: none;
} 

#page-container #sliders-container .sliders-collapsed {
  height: 33px;
}

.expand-button {
  height: 100%;
  width: 100%;
  background: none;
  position: absolute;
  z-index: 6;
}

.sliders-expanded .expand-button {
  display:none;
}

.expand-icon {
  height:20px;
  width: 20px;
  position: absolute;
  right: 6px;
  top: 6px;
  background-image: url('img/expand.button.png');
  background-size: 100%;
}

.collapse-button {
  height:20px;
  width: 20px;
  position: absolute;
  right: 6px;
  top: 6px;
  background-image: url('img/collapse.button.png');
  background-size: 100%;
  cursor: pointer;
  cursor: hand;
  z-index: 5;
}

.sliders-collapsed .collapse-button {
  display: none;
}

/* Cover slider with loading element when loading glue file */

.loading-element {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
}

.loading-element .dtext {
  font-size: 1.3em;
}



/* end */

/* Style slider containers */

.sliders .ui-input-text {
  text-align: center;
  font-size: 1.5em;
  font-family: Montserrat;
  -webkit-text-stroke:0.1px #000;
  margin: 0 0 10px 0;
  color: #000;
  text-shadow: none;
}

.sliders {
  height: 100px;
  position: relative;
}

.slider-background {
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 0;
}

#waves-slider-background {
  background-image: url('img/waves.jpg');
}

#rain-slider-background {
  background-image: url('img/raining.jpg');
}

#thunder-slider-background {
  background-image: url('img/thunder.jpg');
}

#fire-slider-background {
  background-image: url('img/fire.jpg');
}

#birds-slider-background {
  background-image: url('img/birds.jpg');
}

#crickets-slider-background {
  background-image: url('img/crickets.jpg');
}

#humans-slider-background {
  background-image: url('img/humans.jpg');
}

#singingbowls-slider-background {
  background-image: url('img/singingbowls.jpg');
}

#whitenoise-slider-background {
  background-image: url('img/whitenoise.jpg');
}

.slider-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.labelfix {
  margin-left: 30%;
  margin-right: 30%;
  background: rgba(255,255,255,0.7);
  margin-top: 10px;
}

.sliders:first-child {
  border-top: 3px solid #000;
}

.sliders {
  border-bottom: 3px solid #000;
}

/* Style info page */

#infopage {
  font-size: 1em;
  font-family: Helvetica;
  max-width: 40em;
  margin: 0 auto 0 auto;
}

/* Style for show and hide options menu */

.sharehidden,
.optionshidden {
    height: 100%;
    margin: 10px 0 10px 0;
}
 
.show_hide {
    display:none;
}

#optionsbutton,
.linkbuttons a {
  text-decoration: none;
  padding: 4px 30px;
  background-color: #000;
  color: #FFF;
}

.hotkey {
  text-decoration: underline;
}

#optionsbutton:hover,
#optionsbutton:active,
.linkbuttons a:hover,
.linkbuttons a:active,
#timedpauseprompt.wait-for-input,
#timedstartprompt.wait-for-input,
#timedfadeprompt.wait-for-input,
#optionsbutton.options-active {
  background-color: #FFF;
  color: #000;
  border: 2px solid black;
}

#timedpauseentry,
#timedstartentry,
#timedfadeentry {
  margin: 15px auto;
}

#timedpausebutton,
#timedstartbutton,
#timedfadebutton {
  font-size: 1.5em;
}

#minutestillpause,
#minutestillfade,
#minutestillstart {
  width: 5em;
  height: 1.5em;
  font-size: 1.5em;
  text-align: center;
  margin: 0 5px;
}

#optionsbutton {
  text-transform: uppercase;
}

#timedpausepost,
#timedstartpost,
#timedfadepost,
#meanderpost {
  display:none;
}

#timedpausenumberentry,
#timedpauseentry,
#timedstartnumberentry,
#timedstartentry,
#timedfadenumberentry,
#timedfadeentry {
  display: none;
}

#optionscontainer {
  margin: 0 auto;
}

#optionscontainer p {
  margin-top: 20px;
  margin-bottom: 20px;
}

#post-container {
  margin: 0 5% 0 5%;
}

#resetdiv {
 margin-bottom: 1.4em;
}

#reset {
  margin-bottom: 5px;
}

.otext {
  font-family: Montserrat;
  font-size: 0.8em;
  text-align: center;
  color: #000;
}

/* Style for Meander slider track */

#meanderpost .ui-slider-track {
  margin: 0px auto;
  background-color: #000;
  height: 10px;
  width: 20em;
}

#meanderpost .ui-slider-handle {
  background-color: #FFF;
  border: 2px solid black;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
}

#meanderpost #meander-slider-label {
  display: none;
}

#meander-description {
  font-size: 1.5em;
  margin-top: 1.5em;
  -webkit-text-stroke: 0;
}

#ios-apology {
  position: fixed;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 80%;
  background-color: #000;
  color: #FFF;
  z-index: 10000;
  border: 3px dashed #FFF;
  display: none;
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}

.ios-sorry {
  width: 80%;
  margin: 1.5em auto;
  font-size: 1em;
  font-family: Montserrat;
}

h3.ios-sorry {
  font-size: 1.5em;
  margin: 10px auto;
}

.ios-sorry a {
  color: #FFF;
}

#ios-apology-appendix {
  font-size: 0.7em;
}

#ios-close-button {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 30px;
  height: 30px;
  background-image: url('img/collapse.button.png');
  background-size: 100%;
  cursor: pointer;
  cursor: hand;
  border: 3px solid #FFF;
}

/* Begin responsive settings for smaller viewports */

@media screen and (max-width: 640px) {

  .labelfix {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
  }

}

@media screen and (max-width: 540px) {

  #site-title {
    font-size: 1.3em;
  }
  
  #share:after {
    content: "";
    content: none;
  }
  
  #updates:before {
    content: "";
    content: none;
  }
  
   #optionscontainer  {
    margin-right: 20%;
   }
  
  .dtext {
    font-size: 0.8em;
  }
  
  .sliders {
    height: 100px;
  }
  
  .labelfix {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5px;
  }
  
  .sliders .ui-input-text {
    font-size: 1.2em
  }
}

@media screen and (max-width: 440px) {

  #site-title {
    font-size: 1em;
  }
  
    #showshareurl {
    font-size: 0.75em
  }
  
  #optionscontainer  {
    margin-right: 15%;
    margin-left: 15%;
    font-size: 0.9em;
  }
  
  .dtext {
    font-size: 0.8em;
  }
  
  .sliders {
    height: 90px;
  }
  
  .labelfix {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10px;
  }
  
  .sliders .ui-input-text {
    font-size: 1.2em
  }
}

@media screen and (max-width: 340px) {

  #showshareurl {
    font-size: 0.65em
  }
  
/**  .blockspan {
    display: block;
    margin-top: 10px;
  } **/
  
  #resetdiv {
    margin-bottom: 1.9em;
  }
  
  #optionscontainer  {
  margin-right: 5%;
  margin-left: 5%;
  font-size: 0.75em;
  }

  #site-title {
    font-size: 0.7em;
  }
  
  #all-controls .play-all,
  #all-controls .pause-all,
  #play-pause-container {
    width: 7em;
    height: 7em;
    margin-bottom: 10px;
  }
  
  .sliders {
    height: 80px;
  }  
}

/* end */

/* jQuery Mobile CSS */

.ui-btn {display: block; text-align: center; cursor:pointer; position: relative; margin: .5em 0; padding: 0;}.ui-mini {margin-top: .25em; margin-bottom: .25em;}.ui-btn-left, .ui-btn-right, .ui-input-clear, .ui-btn-inline,.ui-grid-a .ui-btn, .ui-grid-b .ui-btn, .ui-grid-c .ui-btn, .ui-grid-d .ui-btn, .ui-grid-e .ui-btn, .ui-grid-solo .ui-btn {margin-right: 5px; margin-left: 5px;}.ui-btn-inner {font-size: 16px; padding: .6em 20px; min-width: .75em; display: block; position: relative; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; zoom: 1;}.ui-btn input, .ui-btn button {z-index: 2;}.ui-btn-left, .ui-btn-right, .ui-btn-inline {display: inline-block; vertical-align: middle;}.ui-mobile .ui-btn-left, .ui-mobile .ui-btn-right, .ui-btn-left > .ui-btn, .ui-btn-right > .ui-btn {margin: 0;} .ui-btn-block {display: block;}.ui-header > .ui-btn,.ui-footer > .ui-btn {display: inline-block; margin: 0;}.ui-header .ui-btn-block,.ui-footer .ui-btn-block {display: block;}.ui-header .ui-btn-inner,.ui-footer .ui-btn-inner,.ui-mini .ui-btn-inner {font-size: 12.5px; padding: .55em 11px .5em;}.ui-fullsize .ui-btn-inner,.ui-fullsize .ui-btn-inner {font-size: 16px; padding: .6em 20px;}.ui-btn-icon-notext {width: 24px; height: 24px;}.ui-btn-icon-notext .ui-btn-inner {padding: 0; height: 100%;}.ui-btn-icon-notext .ui-btn-inner .ui-icon {margin: 2px 1px 2px 3px; float: left;}.ui-btn-text {position: relative; z-index: 1; width: 100%; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none;}div.ui-btn-text {width: auto;}.ui-btn-icon-notext .ui-btn-text {position: absolute; left: -9999px;}.ui-btn-icon-left .ui-btn-inner {padding-left: 40px;}.ui-btn-icon-right .ui-btn-inner {padding-right: 40px;}.ui-btn-icon-top .ui-btn-inner {padding-top: 40px;}.ui-btn-icon-bottom .ui-btn-inner {padding-bottom: 40px;}.ui-header .ui-btn-icon-left .ui-btn-inner,.ui-footer .ui-btn-icon-left .ui-btn-inner,.ui-mini.ui-btn-icon-left .ui-btn-inner,.ui-mini .ui-btn-icon-left .ui-btn-inner {padding-left: 30px;}.ui-header .ui-btn-icon-right .ui-btn-inner,.ui-footer .ui-btn-icon-right .ui-btn-inner,.ui-mini.ui-btn-icon-right .ui-btn-inner,.ui-mini .ui-btn-icon-right .ui-btn-inner {padding-right: 30px;}.ui-header .ui-btn-icon-top .ui-btn-inner,.ui-footer .ui-btn-icon-top .ui-btn-inner {padding: 30px 3px .5em 3px;}.ui-mini.ui-btn-icon-top .ui-btn-inner,.ui-mini .ui-btn-icon-top .ui-btn-inner {padding-top: 30px;}.ui-header .ui-btn-icon-bottom .ui-btn-inner,.ui-footer .ui-btn-icon-bottom .ui-btn-inner {padding: .55em 3px 30px 3px;}.ui-mini.ui-btn-icon-bottom .ui-btn-inner,.ui-mini .ui-btn-icon-bottom .ui-btn-inner {padding-bottom: 30px;}.ui-btn-inner {-webkit-border-radius: inherit; border-radius: inherit;}.ui-btn-icon-notext .ui-icon {display: block; z-index: 0;}.ui-btn-icon-left > .ui-btn-inner > .ui-icon, .ui-btn-icon-right > .ui-btn-inner > .ui-icon {position: absolute; top: 50%; margin-top: -9px;}.ui-btn-icon-top .ui-btn-inner .ui-icon, .ui-btn-icon-bottom .ui-btn-inner .ui-icon {position: absolute; left: 50%; margin-left: -9px;}.ui-btn-icon-left .ui-icon {left: 10px;}.ui-btn-icon-right .ui-icon {right: 10px;}.ui-btn-icon-top .ui-icon {top: 10px;}.ui-btn-icon-bottom .ui-icon {top: auto; bottom: 10px;}.ui-header .ui-btn-icon-left .ui-icon,.ui-footer .ui-btn-icon-left .ui-icon,.ui-mini.ui-btn-icon-left .ui-icon,.ui-mini .ui-btn-icon-left .ui-icon {left: 5px;}.ui-header .ui-btn-icon-right .ui-icon,.ui-footer .ui-btn-icon-right .ui-icon,.ui-mini.ui-btn-icon-right .ui-icon,.ui-mini .ui-btn-icon-right .ui-icon {right: 5px;}.ui-header .ui-btn-icon-top .ui-icon,.ui-footer .ui-btn-icon-top .ui-icon,.ui-mini.ui-btn-icon-top .ui-icon,.ui-mini .ui-btn-icon-top .ui-icon {top: 5px;}.ui-header .ui-btn-icon-bottom .ui-icon,.ui-footer .ui-btn-icon-bottom .ui-icon,.ui-mini.ui-btn-icon-bottom .ui-icon,.ui-mini .ui-btn-icon-bottom .ui-icon {bottom: 5px;}.ui-btn-hidden {position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-appearance: none; cursor: pointer; background: #fff; background: rgba(255,255,255,0); filter: Alpha(Opacity=0); opacity: .1; font-size: 1px; border: none; text-indent: -9999px;}.ui-disabled .ui-btn-hidden {display: none;}.ui-disabled {z-index: 1;}.ui-field-contain .ui-btn.ui-submit {margin: 0;}label.ui-submit {font-size: 16px; line-height: 1.4; font-weight: normal; margin: 0 0 .3em; display: block;}@media all and (min-width: 28em){.ui-field-contain label.ui-submit {vertical-align: top; display: inline-block; width: 20%; margin: 0 2% 0 0;} .ui-field-contain .ui-btn.ui-submit {width: 78%; display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;} .ui-hide-label .ui-btn.ui-submit {width: auto; display: block;}}.ui-mobile, .ui-mobile body {height: 99.9%;}.ui-mobile fieldset, .ui-page {padding: 0; margin: 0;}.ui-mobile a img, .ui-mobile fieldset {border-width: 0;}.ui-mobile fieldset {min-width: 0;}.ui-mobile-viewport {margin: 0; overflow-x: visible; -webkit-text-size-adjust: 100%; -ms-text-size-adjust:none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}body.ui-mobile-viewport,div.ui-mobile-viewport {overflow-x: hidden;}.ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page {top: 0; left: 0; width: 100%; min-height: 100%; position: absolute; display: none; border: 0;}.ui-mobile .ui-page-active {display: block; overflow: visible;}.ui-page {outline: none;}@media screen and (orientation: portrait){.ui-mobile .ui-page {min-height: 420px;}}@media screen and (orientation: landscape){.ui-mobile .ui-page {min-height: 300px;}}.ui-loading .ui-loader {display: block;}.ui-loader {display: none; z-index: 9999999; position: fixed; top: 50%; left: 50%; border:0;}.ui-loader-default {background: none; filter: Alpha(Opacity=18); opacity: .18; width: 46px; height: 46px; margin-left: -23px; margin-top: -23px;}.ui-loader-verbose {width: 200px; filter: Alpha(Opacity=88); opacity: .88; box-shadow: 0 1px 1px -1px #fff; height: auto; margin-left: -110px; margin-top: -43px; padding: 10px;}.ui-loader-default h1 {font-size: 0; width: 0; height: 0; overflow: hidden;}.ui-loader-verbose h1 {font-size: 16px; margin: 0; text-align: center;}.ui-loader .ui-icon {background-color: #000; display: block; margin: 0; width: 44px; height: 44px; padding: 1px; -webkit-border-radius: 36px; border-radius: 36px;}.ui-loader-verbose .ui-icon {margin: 0 auto 10px; filter: Alpha(Opacity=75); opacity: .75;}.ui-loader-textonly {padding: 15px; margin-left: -115px;}.ui-loader-textonly .ui-icon {display: none;}.ui-loader-fakefix {position: absolute;}.ui-mobile-rendering > * {visibility: hidden;}.ui-bar, .ui-body {position: relative; padding: .4em 15px; overflow: hidden; display: block; clear:both;}.ui-bar {font-size: 16px; margin: 0;}.ui-bar h1, .ui-bar h2, .ui-bar h3, .ui-bar h4, .ui-bar h5, .ui-bar h6 {margin: 0; padding: 0; font-size: 16px; display: inline-block;}.ui-header, .ui-footer {position: relative; zoom: 1;}.ui-mobile .ui-header, .ui-mobile .ui-footer {border-left-width: 0; border-right-width: 0;}.ui-header .ui-btn-left,.ui-header .ui-btn-right,.ui-footer .ui-btn-left,.ui-footer .ui-btn-right,.ui-header-fixed.ui-fixed-hidden .ui-btn-left,.ui-header-fixed.ui-fixed-hidden .ui-btn-right {position: absolute; top: 3px;}.ui-header-fixed .ui-btn-left,.ui-header-fixed .ui-btn-right {top: 4px;}.ui-header .ui-btn-left,.ui-footer .ui-btn-left {left: 5px;}.ui-header .ui-btn-right,.ui-footer .ui-btn-right {right: 5px;}.ui-footer > .ui-btn-icon-notext,.ui-header > .ui-btn-icon-notext,.ui-header-fixed.ui-fixed-hidden > .ui-btn-icon-notext {top: 6px;}.ui-header-fixed > .ui-btn-icon-notext {top: 7px;}.ui-header .ui-title, .ui-footer .ui-title {min-height: 1.1em; text-align: center; font-size: 16px; display: block; margin: .6em 30% .8em; padding: 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important;}.ui-footer .ui-title {margin: .6em 15px .8em;}.ui-content {border-width: 0; overflow: visible; overflow-x: hidden; padding: 15px;}.ui-corner-all > .ui-header:first-child,.ui-corner-all > .ui-content:first-child,.ui-corner-all > .ui-footer:first-child {-webkit-border-top-left-radius: inherit; border-top-left-radius: inherit; -webkit-border-top-right-radius: inherit; border-top-right-radius: inherit;}.ui-corner-all > .ui-header:last-child,.ui-corner-all > .ui-content:last-child,.ui-corner-all > .ui-footer:last-child {-webkit-border-bottom-left-radius: inherit; border-bottom-left-radius: inherit; -webkit-border-bottom-right-radius: inherit; border-bottom-right-radius: inherit;}.ui-icon {width: 18px; height: 18px;}.ui-nojs {position: absolute; left: -9999px;}.ui-hide-label label.ui-input-text, .ui-hide-label label.ui-select, .ui-hide-label label.ui-slider, .ui-hide-label label.ui-submit, .ui-hide-label .ui-controlgroup-label,.ui-hidden-accessible {position: absolute !important; left: -9999px; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px);}.ui-rangeslider {zoom: 1; margin: 0;}.ui-rangeslider:before,.ui-rangeslider:after {content: ""; display: table;}.ui-rangeslider:after {clear: both;}.ui-rangeslider input.ui-input-text.ui-slider-input {margin: .57143em 0;}.ui-rangeslider.ui-mini input.ui-slider-input {margin: .28571em 0;}.ui-rangeslider input.ui-slider-input.ui-rangeslider-last {float: right;}.ui-rangeslider .ui-rangeslider-sliders {position: relative; overflow: visible; height: 30px; margin: .5em 68px;}.ui-rangeslider.ui-mini .ui-rangeslider-sliders {margin: .25em 68px;}.ui-field-contain .ui-rangeslider input.ui-slider-input,.ui-field-contain .ui-rangeslider.ui-mini input.ui-slider-input,.ui-field-contain .ui-rangeslider .ui-rangeslider-sliders,.ui-field-contain .ui-rangeslider.ui-mini .ui-rangeslider-sliders {margin-top: 0; margin-bottom: 0;}.ui-rangeslider .ui-rangeslider-sliders .ui-slider-track {position: absolute; top: 6px; right: 0; left: 0; margin: 0;}.ui-rangeslider.ui-mini .ui-rangeslider-sliders .ui-slider-track {top: 8px;}.ui-rangeslider .ui-slider-track:first-child .ui-slider-bg {display: none;}.ui-rangeslider .ui-rangeslider-sliders .ui-slider-track:first-child {background-color: transparent; background: none; border-width: 0; height: 0;}html >body .ui-rangeslider .ui-rangeslider-sliders .ui-slider-track:first-child {height: 15px; border-width: 1px;}html >body .ui-rangeslider.ui-mini .ui-rangeslider-sliders .ui-slider-track:first-child {height: 12px;}@media all and (min-width: 28em){.ui-field-contain .ui-rangeslider label.ui-slider {float: left;} .ui-field-contain .ui-rangeslider input.ui-slider-input {position: relative; z-index: 1;} .ui-field-contain .ui-rangeslider input.ui-slider-input.ui-rangeslider-first, .ui-field-contain .ui-rangeslider.ui-mini input.ui-slider-input.ui-rangeslider-first {margin-right: 17px;} .ui-field-contain .ui-rangeslider .ui-rangeslider-sliders, .ui-field-contain .ui-rangeslider.ui-mini .ui-rangeslider-sliders {float: left; width: 78%; margin: 0 -68px;} .ui-field-contain .ui-rangeslider .ui-slider-track, .ui-field-contain .ui-rangeslider.ui-mini .ui-slider-track {right: 68px; left: 68px;} .ui-field-contain.ui-hide-label .ui-rangeslider input.ui-slider-input.ui-rangeslider-first {margin: 0;} .ui-field-contain.ui-hide-label .ui-rangeslider .ui-rangeslider-sliders, .ui-field-contain.ui-hide-label .ui-rangeslider.ui-mini .ui-rangeslider-sliders {width: auto; float: none; margin: 0 68px;} .ui-field-contain.ui-hide-label .ui-rangeslider .ui-slider-track, .ui-field-contain.ui-hide-label .ui-rangeslider.ui-mini .ui-slider-track {right: 0; left: 0;}}label.ui-slider {font-size: 16px; line-height: 1.4; font-weight: normal; margin: 0; display: block;}.ui-field-contain label.ui-slider {margin-bottom: .4em;}div.ui-slider {height: 30px; margin: .5em 0; zoom: 1;}div.ui-slider.ui-mini {margin: .25em 0;}.ui-field-contain div.ui-slider,.ui-field-contain div.ui-slider.ui-mini {margin: 0;}div.ui-slider:before, div.ui-slider:after {content: ""; display: table;}div.ui-slider:after {clear: both;}input.ui-input-text.ui-slider-input {display: block; float: left; margin: 0; padding: 4px; width: 40px; height: 22px; line-height: 22px; font-size: 14px; border-width: 0; background-image: none; font-weight: bold; text-align: center; vertical-align: text-bottom; outline: 0; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; box-sizing: content-box;}.ui-slider-input::-webkit-outer-spin-button,.ui-slider-input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}.ui-slider-track,.ui-slider-switch {position: relative; overflow: visible; height: 15px; margin: 0 15px 0 68px; top: 6px;}.ui-slider-track.ui-mini {height: 12px; top: 8px;}.ui-slider-bg {border: none; height: 100%;}.ui-slider-track .ui-btn.ui-slider-handle,.ui-slider-switch .ui-btn.ui-slider-handle {position: absolute; z-index: 1; top: 50%; width: 28px; height: 28px; margin: -15px 0 0 -15px; outline: 0;}.ui-slider-track.ui-mini .ui-slider-handle {height: 14px; width: 14px; margin: -8px 0 0 -7px;}.ui-slider-handle .ui-btn-inner {padding: 0; height: 100%;}.ui-slider-track.ui-mini .ui-slider-handle .ui-btn-inner {height: 30px; width: 30px; padding: 0; margin: -9px 0 0 -9px; border-top: none;}select.ui-slider-switch {display: none;}div.ui-slider-switch {display: inline-block; height: 32px; width: 5.8em; margin: .5em 0; top: 0;}div.ui-slider-switch:before, div.ui-slider-switch:after {display: none; clear: none;}div.ui-slider-switch.ui-mini {width: 5em; height: 29px; margin: .25em 0; top: 0;}.ui-field-contain .ui-slider-switch,.ui-field-contain .ui-slider-switch.ui-mini {margin: 0;}.ui-slider-inneroffset {margin: 0 16px; position: relative; z-index: 1;}.ui-slider-switch.ui-mini .ui-slider-inneroffset {margin: 0 15px 0 14px;}.ui-slider-switch .ui-btn.ui-slider-handle {margin: 1px 0 0 -15px;}.ui-slider-switch.ui-mini .ui-slider-handle {width: 25px; height: 25px; margin: 1px 0 0 -13px; padding: 0;}.ui-slider-handle-snapping {-webkit-transition: left 70ms linear; -moz-transition: left 70ms linear;}.ui-slider-switch.ui-mini .ui-slider-handle .ui-btn-inner {height: 30px; width: 30px; padding: 0; margin: 0; border-top: none;}.ui-slider-switch .ui-slider-label {position: absolute; text-align: center; width: 100%; overflow: hidden; font-size: 16px; top: 0; line-height: 2; min-height: 100%; border-width: 0; white-space: nowrap; cursor: pointer;}.ui-slider-switch.ui-mini .ui-slider-label {font-size: 14px;}.ui-slider-switch .ui-slider-label-a {z-index: 1; left: 0; text-indent: -1.5em;}.ui-slider-switch .ui-slider-label-b {z-index: 0; right: 0; text-indent: 1.5em;}@media all and (min-width: 28em){.ui-field-contain label.ui-slider {vertical-align: top; display: inline-block; width: 20%; margin: 0 2% 0 0;} .ui-field-contain div.ui-slider {display: inline-block; width: 78%;} .ui-field-contain.ui-hide-label div.ui-slider {display: block; width: auto;} .ui-field-contain div.ui-slider-switch, .ui-field-contain.ui-hide-label div.ui-slider-switch {display: inline-block; width: 5.8em;} .ui-field-contain div.ui-slider-switch.ui-mini {width: 5em;}} label.ui-input-text {font-size: 16px; line-height: 1.4; display: block; font-weight: normal; margin: 0 0 .3em;}input.ui-input-text, textarea.ui-input-text {background-image: none; padding: .4em; margin: .5em 0; min-height: 1.4em; line-height: 1.4em; font-size: 16px; display: block; width: 100%; outline: 0;}input.ui-mini, .ui-mini input, textarea.ui-mini {font-size: 14px;}div.ui-input-text input.ui-input-text, div.ui-input-text textarea.ui-input-text,.ui-input-search input.ui-input-text {border: none; width: 100%; padding: .4em 0; margin: 0; display: block; background: transparent none; outline: 0 !important;}.ui-input-search, div.ui-input-text {margin: .5em 0; background-image: none; position: relative;}.ui-input-search {padding: 0 30px;}div.ui-input-text {padding: 0 .4em;}div.ui-input-has-clear {padding: 0 30px 0 .4em;}input.ui-input-text.ui-mini, textarea.ui-input-text.ui-mini,.ui-input-search.ui-mini, div.ui-input-text.ui-mini {margin: .25em 0;}.ui-field-contain input.ui-input-text, .ui-field-contain textarea.ui-input-text,.ui-field-contain .ui-input-search, .ui-field-contain div.ui-input-text {margin: 0;}textarea.ui-input-text {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}input.ui-input-text {-webkit-appearance: none;}textarea.ui-input-text {height: 50px; -webkit-transition: height 200ms linear; -moz-transition: height 200ms linear; -o-transition: height 200ms linear; transition: height 200ms linear;}textarea.ui-mini {height: 45px;}.ui-icon-searchfield:after {position: absolute; left: 7px; top: 50%; margin-top: -9px; content: ""; width: 18px; height: 18px; opacity: .5;}.ui-input-search .ui-input-clear, .ui-input-text .ui-input-clear {position: absolute; right: 0; top: 50%; margin-top: -13px;}.ui-mini .ui-input-clear {right: -3px;}.ui-input-search .ui-input-clear-hidden, .ui-input-text .ui-input-clear-hidden {display: none;}input::-moz-placeholder, textarea::-moz-placeholder {color: #aaa;}:-ms-input-placeholder {color: #aaa;}input[type=number]::-webkit-outer-spin-button {margin: 0;}@media all and (min-width: 28em){.ui-field-contain label.ui-input-text {vertical-align: top; display: inline-block; width: 20%; margin: 0 2% 0 0} .ui-field-contain input.ui-input-text, .ui-field-contain textarea.ui-input-text, .ui-field-contain .ui-input-search, .ui-field-contain div.ui-input-text {width: 78%; display: inline-block;} .ui-field-contain .ui-input-search, .ui-field-contain div.ui-input-text {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;} .ui-hide-label input.ui-input-text, .ui-hide-label textarea.ui-input-text, .ui-hide-label .ui-input-search, .ui-hide-label div.ui-input-text, .ui-input-search input.ui-input-text, div.ui-input-text input.ui-input-text {width: 100%;}}